body {
    background-color: black;
}

h1 {
    color:deeppink;
    text-align: center;
}

label {
    color:floralwhite;
    font-size: 25px;
}

.list-of-dogs {
    color: floralwhite;
    font-size: 20px;
}

img {
    height: 300px;
    align-items:flex-end;
}